.fire {
    background-color: "#fe7500";
}

.water {
    background-color: "#6a87f3";
}

.grass {
    background-color: "#53d34e";
}

.thunder {
    background-color: "#e3c260";
}

.psychic {
    background-color: "#ff2482";
}

.ice {
    background-color: "#b282f2";
}